@media (max-width: 1250px) {
  .project-list {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .skill-sec {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .more-info {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

@media (max-width: 1100px) {
  .author-header {
    position: sticky;
    top: 0;
    z-index: 900;
    background: var(--bgColor);
  }

  .author-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 2rem;
    height: calc(100% - 5.5rem);
  }

  .author-section .author-sec-left {
    order: 2;
  }

  .left-sec {
    min-width: 100%;
    background: var(--fgColor);
  }

  .left-sec-2 .social-btn {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .left-sec-2 .social-btn a {
    flex: 1;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    border-radius: .5rem;
    color: #e4e4e7;
    gap: .5rem;
  }

  .right-sec {
    height: auto;
    overflow-y: auto;
  }

  .project-list {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .skill-sec {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .more-info {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .more-info {
    margin-bottom: 2rem;
  }

  .more-info .info-row .more-github {
    padding: 1.8rem;
  }
}





@media (max-width: 800px) {
  .example-box {
    height: 17rem;
  }

  .blob-shape-img {
    margin-left: 3rem;
  }

  .blob-shape-img .blob-bg-cover {
    height: 13rem;
    width: 13rem;
  }

  .box-profile .box-profile-name {
    margin-left: 2rem;
  }

  .box-profile .box-profile-name h1 {
    font-size: 2.9rem;
  }

  .box-profile .box-profile-name h2 {
    font-size: 1.5rem;
  }

  .hire-btns .galaxy-btn {
    margin-right: 3rem;
  }

  .project-list {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .project-list .proj-row {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .project-list .proj-row .proj-column {
    width: calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    border-radius: .5rem .5rem 0 0;
    overflow: hidden;
  }

  .skill-sec {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .skill-sec .skill-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
  }

  .skill-sec .skill-cat .skill-cat-all {
    width: calc(50% - 1rem);
  }

  .skill-sec .skill-cat .skill-cat-all:nth-child(3) {
    width: calc(100%);
  }

  .more-info {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}


@media (max-width: 600px) {
  .skill-cat .skill-cat-all2 .all-knows {
    padding: 0 .2rem;
  }

  .project-list {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .skill-sec {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .more-info {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}


@media (max-width: 500px) {

  .blob-shape-img {
    margin-left: 2rem;
  }

  .blob-shape-img .blob-bg-cover {
    height: 12rem;
    width: 12rem;
  }

  .box-profile .box-profile-name {
    margin-left: 1.7rem;
  }

  .box-profile .box-profile-name h1 {
    font-size: 2.5rem;
  }


  .hire-btns .galaxy-btn {
    display: none;
  }

  .project-list,
  .skill-sec,
  .more-info {
    margin-left: 0;
    margin-right: 0;
  }


}


@media (max-width: 470px) {

  .project-list .proj-row .proj-column {
    width: 100%;
  }

  .skill-sec .skill-cat .skill-cat-all {
    width: 100%;
  }

  .more-info .info-row {
    flex-wrap: wrap;
  }

  .more-info .info-row .info-column {
    width: 100%;
  }

  .more-info .info-row .more-github {
    width: 100%;
  }

}

@media (max-width: 350px) {

  .project-list,
  .skill-sec,
  .more-info {
    margin-left: 0;
    margin-right: 0;
  }

}